# TempMax--> colocar la temperatura maxima hasta liberar el agua. En grados centigrados por ej: 16, 17.15, 20
# HumMin --> Colocar la humedad minima hasta liberar el agua. En porcentaje por ej: 99,25.5,44.
# HoraRiego --> Hora del dia, por ej: 16,22.
# MinutoRiego --> minuto de la hora de "HoraRiego", por ej: 50,30.
# DuracionMinutosRiego --> Tiempo que el agua debe estar saliendo en minutos. por ej: 120,40
# TiempoAnticipacionAlarma --> Los minutos antes del riego que debe activarse el alarma. por ej: 120,40
# DuracionMinutosAlarma --> El tiempo en minutos que la alarma debe estar sonando. por ej: 120,40. Si no se establece, por default se detiene cuando sale el agua
TempMax: 25
HumMin: 60
HoraRiego: 22
MinutoRiego: 21
DuracionMinutosRiego: 1
TiempoAnticipacionAlarma: 20
DuracionMinutosAlarma: 15
#Frecuencia_Actualizacion_Temp_And_Hume_En_Seg: 60
